input {
    margin: 5px;
    transition: all 0.4s ease;
}

#btn-container {
    margin-bottom: 150px;
    text-align: center;
    color: white;
}

#choose {
    padding-bottom: 50px;
}

h3 {
    font: 100 1em/1.5 'Audiowide', cursive;
    color: rgba(255, 255, 255, .25);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: .5em;
}

h3::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-bottom: 8px;
    border-bottom: 4px double rgba(255, 255, 255, .25);
}

#btn-container::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 8px;
    padding-top: 20%;
    border-bottom: 4px double rgba(255, 255, 255, .25);
}

.row-1 {
    margin-bottom: 10px;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #6c6174;
}